<div id="menu"></div>

<div id="addCommand" >
    <button type="button" class="btn-lg btn-success" onclick="aa()">Add command to command list</button>
    <div id="checkboxForEachDiv" class="form-check">
        <input type="checkbox" class="form-check-input" name="checkboxForEach" id="checkboxForEach">
        <label class="form-check-label" for="checkboxForEach">Do command # for each... from command #-1</label>
    </div>
</div>

<ul id="commandList"></ul>