<form id="commandForm" action="/fetchURL" method="POST">
    <!-- <input type="text" id="url" name="url" class="form-control form-control-lg" placeholder="Type here your URL to fetch..." required> -->

    <!-- https://www.w3schools.com/bootstrap4/bootstrap_forms_input_group.asp -->
    <div class="input-group mb-4">
        <input type="text" id="url" name="url" class="form-control" placeholder=" <%= inputURL %> " required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Fetch page</button>
        </div>
    </div>

    <h2>Parameters</h2>
    <ul id="parametersInput">
        <li>
            <input class="inputField" type="text" name="tag" placeholder="Tag Type">
            <input class="inputField" type="text" name="id" placeholder="Element ID">
            <input class="inputField" type="text" name="classes" placeholder="Classes">
            <input class="inputField" type="text" name="text" placeholder="Contains Text">
            <button type="button" class="btn-sm btn-danger" onclick="delParameter( this )">Delete</button>
        </li>
        <li>
            <button id="addNewParameterButton" type="button" class="btn btn-success" onclick="addParameter()">Add a new line with parameters</button>
        </li>
    </ul>

    <div class="row tabs">
        <div id="htmlResult" class="col-2 activeTab" onclick="tabsButtons(this)">HTML</div>
        <div id="resResult" class="col-2" onclick="tabsButtons(this)">Result</div>
    </div>
</form>

<textarea id="result"> <%= postResult %> </textarea>
