Developed by <a href="https://www.bunat.cz" target="_blank" rel="noreferrer">Lukas Bunat</a> by <a
    href="https://nodejs.org/en/" target="_blank" rel="noreferrer">NodeJS</a>, <a href="https://expressjs.com/"
    target="_blank" rel="noreferrer">Express</a> and <a href="https://ejs.co/" target="_blank" rel="noreferrer">EJS</a>
with ❤
<br />
Source code hosted on <a href="https://github.com/bunatl" target="_blank" rel="noreferrer">GitHub</a>
<br />
All rights reserved
<br />
<span id="yearPlaceholder"></span>

<script>
    const text = (new Date().getFullYear() === 2020) ? new Date().getFullYear() : `2020 - ${ new Date().getFullYear() }`;
    document.getElementById("yearPlaceholder").innerHTML = text;
</script>