#search{
    margin: 0 !important;
}

#search input{
    height: 3.5em;
    font-size: 1em;
}

#search button{
    background: #586c91;
    font-weight: bold;
    font-size: 1.2em;
}

/* Params */
h2{
    padding-top: 0.5em;
}

#parametersInput{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#parametersInput input{
    width: 20%;
    max-width: 14em;
}

#parametersInput li{
    text-align: center;
}

#parametersInput li:first-child > input{
    font-size: 1em;
}

/* Add new lines button */
#parametersInput li:last-child > button{
    background: #586c91;
    font-weight: bold;
}

.delButton{
    background: red;
    font-weight: bold;
}

/* Results section */
.row{
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0 0 0;
}

.row div{
    border: 1px solid black;
    background: #ddd;
    border-radius: 7px 7px 0 0;

    min-width: 5em;
}

.activeTab{
    background: gray !important;
    border-radius: 7px 14px 0 0 !important;
}

.row div:hover{
    cursor: pointer;
    background: lightgray;
}

.tabs textarea{
    padding: 2% 1%;    
}

.results{
    width: 100%;
    font-size: min(2.2vw, 1.1em);
}

#paramResultTextArea{
    display: none;
}

footer{
    font-size: 1.08em;
}

footer a, 
footer a:visited{
    font-weight: bold;
    color: black;
    /* To make trasnform work: https://stackoverflow.com/questions/29667859/transform-css-property-doesnt-work-with-a-element */
    display: inline-block;
}

footer a:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: black;
}