
#content{
    /* min-height: var( --content-height ); */
    width: var( --content-width );
    /* Two divs exch to each other */
    /* display : inline-block; */
    float: left;
    /* border: 2px solid blue; */
    padding: 1% 2% 0 1%;
    margin: 0;
}


#search{
    margin: 0 !important;
}

/* Params */

h2{
    padding-top: 0.5em;
}

#parametersInput{
    list-style-type: none;
    width: 100%;
    margin: 0;
}

#parametersInput li{
    /* margin: 1% auto; */
    text-align: center;
}



/* Results section */

.row{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

.row div{
    border: 1px solid black;
    background: #ddd;
    border-radius: 7px 7px 0 0;
}

.activeTab{
    background: gray !important;
    border-radius: 7px 14px 0 0 !important;
}

.row div:hover{
    cursor: pointer;
    background: lightgray;
}

.tabs textarea{
    padding: 2% 1%;
    font: red;
}

.results{
    width: 100%;
}

#paramResultTextArea{
    display: none;
}
