<!-- https://www.w3schools.com/bootstrap4/bootstrap_forms_input_group.asp -->
<div id="search" class="input-group mb-4">
    <input type="text" id="url" name="url" class="form-control" placeholder="Enter URL of the page you want to fetch"
        required>
    <div class="input-group-append">
        <button type="submit" class="btn btn-primary" onclick="fetchHTML()">Fetch page</button>
    </div>
</div>