<div id="parameters">
    <h2>Parameters</h2>
    <ul id="parametersInput">
        <li>
            <input class="inputField" type="text" name="tag" placeholder="Tag Type">
            <input class="inputField" type="text" name="id" placeholder="Element ID">
            <input class="inputField" type="text" name="classes" placeholder="Classes">
            <input class="inputField" type="text" name="text" placeholder="Contains Text">
            <button type="button" class="btn-sm btn-danger" onclick="delParameter( this )">Delete</button>
        </li>
        <li>
            <button id="addNewParameterButton" type="button" class="btn btn-success" onclick="addParameter()">
                Add a new line with parameters
            </button>
        </li>
    </ul>
</div>