<div class="row tabs">
    <div id="htmlResult" class="col-2 activeTab" onclick="tabsButtons(this)">HTML</div>
    <div id="resResult" class="col-2" onclick="tabsButtons(this)">Result</div>
</div>

<textarea id="result"> <%= postResult %> </textarea>