body{
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;

    /* Center body */
    margin: 0 auto;

    border: 1px solid gray;
    box-shadow: 0 0 5px 12px #A9A9A9;

    background: lightgray;

    overflow-x: hidden;
}

header{
    background: #586c91;
    color: white;
    border-bottom: 3px solid black;

    padding-left: 4%;
    vertical-align: middle;

    text-align: center;
}

h1{
    font-size: min(2em, 11vw);
}

main{
    width: 90%;
    margin: 1em auto 0 auto;
}

footer{
    text-align: center;
    border-top: 2px dashed black;
}