<form id="commandForm" action="/about">
    <label for="url">URL</label>
    <input type="text" id="url" name="url" class="form-control form-control-lg" placeholder="Type here your URL...">

    <div id="parameters">
        <label for="parametersInput">Parameters</label>
        <button type="button" class="btn-sm btn-success">+</button>
        <input type="text" id="parametersInputElementType" name="parametersInput" placeholder="Element Type">
        <input type="text" id="parametersInputElementID" name="parametersInput" placeholder="Element ID">
        <input type="text" id="parametersInputClasses" name="parametersInput" placeholder="Classes">
        <input type="text" id="parametersInputInnerText" name="parametersInput" placeholder="Inner Text">
        <button type="button" class="btn-sm btn-danger">Delete</button>
    </div>

    <div id="checkboxForEachDiv" class="form-check">
        <input type="checkbox" class="form-check-input" id="checkboxForEach">
        <label class="form-check-label" for="checkboxForEach">Do command # for each... from command #-1</label>
    </div>

    <div id="buttons">
        <button type="submit" class="btn-lg btn-primary">Fetch page</button>
        <!-- Modal from W3Schools -->
        <!-- https://www.w3schools.com/bootstrap4/bootstrap_modal.asp -->
        <button type="button" class="btn-lg btn-info" data-toggle="modal" data-target="#myModal" onclick="foo()">Preview page</button>
        <button type="button" class="btn-lg btn-success" onclick="foo()">Add command</button>
    </div>
</form>

<textarea id="result"></textarea>
