* {
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

#container{
    height: 95%;
    float:left;
    width: 75vw;
    background: blue;
}

aside{
    background: green;
    height: 95%;
}

#menu{
    background: red;
    height: 30%;
}

#commandList{
    background: yellow;
    height: 70%;
}

footer{
    background: brown;
    height: 5%;
}